## Root .htaccess file ######################
# Add mimetype for .m3u files
#AddType audio/mpeg m3u

RewriteEngine on

# If this is the script, rewrite and skip over all other rules
# NOTE: Deliberately making the rule as specific as possible
# If other scripts needed for future capabilities, can be made more general

RewriteCond %{REQUEST_URI} plugins/StreamOnly/scripts/play.php/\d*\.m3u/$
RewriteRule .* - [END]

# Check to see if the file exists,
# but only if it is not the StreamOnly script
#
#RewriteCond %{REQUEST_URI} !plugins/StreamOnly/scripts/play.php/\d*\.m3u/$
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule !\.(php[0-9]?|phtml|phps)$ - [C]
RewriteRule .* - [L]

RewriteRule play.php code4btv/access/plugins/StreamOnly/scripts/play.php/000000000.m3u/

RewriteRule ^install/.*$ install/install.php [L]
RewriteRule ^admin/.*$ admin/index.php [L]

RewriteRule index.php index.php

## Check to see if the file exists
## As part of the process of preventing execution of random .php files
#RewriteCond %{REQUEST_FILENAME} -f
#
## Ignore if this is not a .php file (chained rules)
#RewriteRule !\.(php[0-9]?|phtml|phps)$ - [C]
#RewriteRule .* - [L]
#
## Send all requests to index.php (SOP for CMS's)
## but let us know that it was a rewrite
#RewriteRule .* index.php?msg=rewrite
###############################################